## Question: 1
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [38]:
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
               print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

## Question:2
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [25]:
def fact(n):
    result=1
    for i in range(1,n+1):
        result*=i
    print(result)
fact(8)

40320

## Question:3
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [19]:
def dic_generator(n):
    dic_1={}
    for i in range(1,n+1):
        dic_1[i]=i*i
    print(dic_1)
dic_generator(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

## Question:4 
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [21]:
def list_tuple(n):
    my_list=n.split(',')
    print(my_list)
    my_tuple=tuple(my_list)
    print(my_tuple)
n='34,67,55,33,12,98'
list_tuple(n)

['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

## Question:5
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

In [24]:
class string_output():
    def __init__(self):
        self.s=''
    def getString(self):
        self.s=str(input("Enter the string"))
    def printString(self):
        print(self.s.upper())
a=string_output()
a.getString()
a.printString()

Enter the stringert
ERT

## Question:6

Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

In [31]:
from math import sqrt
def Q(d):
    c=50
    h=30
    return sqrt(2*c*d/h)
d=input("Enter the numbers").split(',')
d = [str(round(Q(int(i)))) for i in d]  
print(",".join(d))

Enter the numbers100,150,180
18,22,24

## Question no:7
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [37]:
X,Y = map(int,input("Enter the array size").split(','))
lst = [[i*j for j in range(y)] for i in range(x)]
print(lst)

Enter the array size3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

## Question:8
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [42]:
def Sort_words():
    a=input("Enter the Words").split(',')
    a.sort()
    print(','.join(a))
Sort_words()

Enter the Wordswithout,hello,bag,world
bag,hello,without,world

## Question:9
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:

Hello world

Practice makes perfect

Then, the output should be:

HELLO WORLD

PRACTICE MAKES PERFECT

In [47]:
lines = []
while True:
    s =input()
    if s:
        lines.append(s.upper())
    else:
        break

for sen in lines:
    print(sen)

Hello
how
hey

HELLO
HOW
HEY

## Question:10
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

In [51]:
w=input("Enter the words").split(' ')
w=sorted(list(set(w)))
print(w)

Enter the wordshello world and practice makes perfect and hello world again
['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

## Question:11
Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010
Notes: Assume the data is input by console.

In [45]:
B=input("Enter the binary numbers").split(',')
B=[num for num in B if int(num,2)%5==0]
print(B)

Enter the binary numbers 0100,0011,1010,1001
['1010']

## Question:12
Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [58]:
start=1000
end=3000
for i in range(start,end+1):
    if i%2==0:
        print(i,end=',')

1000,1002,1004,1006,1008,1010,1012,1014,1016,1018,1020,1022,1024,1026,1028,1030,1032,1034,1036,1038,1040,1042,1044,1046,1048,1050,1052,1054,1056,1058,1060,1062,1064,1066,1068,1070,1072,1074,1076,1078,1080,1082,1084,1086,1088,1090,1092,1094,1096,1098,1100,1102,1104,1106,1108,1110,1112,1114,1116,1118,1120,1122,1124,1126,1128,1130,1132,1134,1136,1138,1140,1142,1144,1146,1148,1150,1152,1154,1156,1158,1160,1162,1164,1166,1168,1170,1172,1174,1176,1178,1180,1182,1184,1186,1188,1190,1192,1194,1196,1198,1200,1202,1204,1206,1208,1210,1212,1214,1216,1218,1220,1222,1224,1226,1228,1230,1232,1234,1236,1238,1240,1242,1244,1246,1248,1250,1252,1254,1256,1258,1260,1262,1264,1266,1268,1270,1272,1274,1276,1278,1280,1282,1284,1286,1288,1290,1292,1294,1296,1298,1300,1302,1304,1306,1308,1310,1312,1314,1316,1318,1320,1322,1324,1326,1328,1330,1332,1334,1336,1338,1340,1342,1344,1346,1348,1350,1352,1354,1356,1358,1360,1362,1364,1366,1368,1370,1372,1374,1376,1378,1380,1382,1384,1386,1388,1390,1392,1394,1396,1398,1400,1402,1404,1406,1408,1410,1412,1414,1416,1418,1420,1422,1424,1426,1428,1430,1432,1434,1436,1438,1440,1442,1444,1446,1448,1450,1452,1454,1456,1458,1460,1462,1464,1466,1468,1470,1472,1474,1476,1478,1480,1482,1484,1486,1488,1490,1492,1494,1496,1498,1500,1502,1504,1506,1508,1510,1512,1514,1516,1518,1520,1522,1524,1526,1528,1530,1532,1534,1536,1538,1540,1542,1544,1546,1548,1550,1552,1554,1556,1558,1560,1562,1564,1566,1568,1570,1572,1574,1576,1578,1580,1582,1584,1586,1588,1590,1592,1594,1596,1598,1600,1602,1604,1606,1608,1610,1612,1614,1616,1618,1620,1622,1624,1626,1628,1630,1632,1634,1636,1638,1640,1642,1644,1646,1648,1650,1652,1654,1656,1658,1660,1662,1664,1666,1668,1670,1672,1674,1676,1678,1680,1682,1684,1686,1688,1690,1692,1694,1696,1698,1700,1702,1704,1706,1708,1710,1712,1714,1716,1718,1720,1722,1724,1726,1728,1730,1732,1734,1736,1738,1740,1742,1744,1746,1748,1750,1752,1754,1756,1758,1760,1762,1764,1766,1768,1770,1772,1774,1776,1778,1780,1782,1784,1786,1788,1790,1792,1794,1796,1798,1800,1802,1804,1806,1808,1810,1812,1814,1816,1818,1820,1822,1824,1826,1828,1830,1832,1834,1836,1838,1840,1842,1844,1846,1848,1850,1852,1854,1856,1858,1860,1862,1864,1866,1868,1870,1872,1874,1876,1878,1880,1882,1884,1886,1888,1890,1892,1894,1896,1898,1900,1902,1904,1906,1908,1910,1912,1914,1916,1918,1920,1922,1924,1926,1928,1930,1932,1934,1936,1938,1940,1942,1944,1946,1948,1950,1952,1954,1956,1958,1960,1962,1964,1966,1968,1970,1972,1974,1976,1978,1980,1982,1984,1986,1988,1990,1992,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020,2022,2024,2026,2028,2030,2032,2034,2036,2038,2040,2042,2044,2046,2048,2050,2052,2054,2056,2058,2060,2062,2064,2066,2068,2070,2072,2074,2076,2078,2080,2082,2084,2086,2088,2090,2092,2094,2096,2098,2100,2102,2104,2106,2108,2110,2112,2114,2116,2118,2120,2122,2124,2126,2128,2130,2132,2134,2136,2138,2140,2142,2144,2146,2148,2150,2152,2154,2156,2158,2160,2162,2164,2166,2168,2170,2172,2174,2176,2178,2180,2182,2184,2186,2188,2190,2192,2194,2196,2198,2200,2202,2204,2206,2208,2210,2212,2214,2216,2218,2220,2222,2224,2226,2228,2230,2232,2234,2236,2238,2240,2242,2244,2246,2248,2250,2252,2254,2256,2258,2260,2262,2264,2266,2268,2270,2272,2274,2276,2278,2280,2282,2284,2286,2288,2290,2292,2294,2296,2298,2300,2302,2304,2306,2308,2310,2312,2314,2316,2318,2320,2322,2324,2326,2328,2330,2332,2334,2336,2338,2340,2342,2344,2346,2348,2350,2352,2354,2356,2358,2360,2362,2364,2366,2368,2370,2372,2374,2376,2378,2380,2382,2384,2386,2388,2390,2392,2394,2396,2398,2400,2402,2404,2406,2408,2410,2412,2414,2416,2418,2420,2422,2424,2426,2428,2430,2432,2434,2436,2438,2440,2442,2444,2446,2448,2450,2452,2454,2456,2458,2460,2462,2464,2466,2468,2470,2472,2474,2476,2478,2480,2482,2484,2486,2488,2490,2492,2494,2496,2498,2500,2502,2504,2506,2508,2510,2512,2514,2516,2518,2520,2522,2524,2526,2528,2530,2532,2534,2536,2538,2540,2542,2544,2546,2548,2550,2552,2554,2556,2558,2560,2562,2564,2566,2568,2570,2572,2574,2576,2578,2580,2582,2584,2586,2588,2590,2592,2594,2596,2598,2600,2602,2604,2606,2608,2610,2612,2614,2616,2618,2620,2622,2624,2626,2628,2630,2632,2634,2636,2638,2640,2642,2644,2646,2648,2650,2652,2654,2656,2658,2660,2662,2664,2666,2668,2670,2672,2674,2676,2678,2680,2682,2684,2686,2688,2690,2692,2694,2696,2698,2700,2702,2704,2706,2708,2710,2712,2714,2716,2718,2720,2722,2724,2726,2728,2730,2732,2734,2736,2738,2740,2742,2744,2746,2748,2750,2752,2754,2756,2758,2760,2762,2764,2766,2768,2770,2772,2774,2776,2778,2780,2782,2784,2786,2788,2790,2792,2794,2796,2798,2800,2802,2804,2806,2808,2810,2812,2814,2816,2818,2820,2822,2824,2826,2828,2830,2832,2834,2836,2838,2840,2842,2844,2846,2848,2850,2852,2854,2856,2858,2860,2862,2864,2866,2868,2870,2872,2874,2876,2878,2880,2882,2884,2886,2888,2890,2892,2894,2896,2898,2900,2902,2904,2906,2908,2910,2912,2914,2916,2918,2920,2922,2924,2926,2928,2930,2932,2934,2936,2938,2940,2942,2944,2946,2948,2950,2952,2954,2956,2958,2960,2962,2964,2966,2968,2970,2972,2974,2976,2978,2980,2982,2984,2986,2988,2990,2992,2994,2996,2998,3000,

## Question:13
Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

In [59]:
sentance=input('Enter the Sentance')
letter,digits=0,0
for i in sentance:
    if i.isalpha():
        letter+=1
    if i.isnumeric():
        digits+=1
print("Letters",letter)
print("Digits",digits)

Enter the Sentancehello world! 123
Letters 10
Digits 3

## Question:14
Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9

In [62]:
sentance=input('Enter the Sentance:')
uppercase,lowercase=0,0
for i in sentance:
    if i.isupper():
        uppercase+=1
    if i.islower():
        lowercase+=1
print("Uppercase",uppercase)
print("LowerCase",lowercase)

Enter the Sentance:Hello world!
Uppercase 1
LowerCase 9

## Question:15
Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106

In [75]:
value = input("Enter the value: ")
n1,n2,n3,n4 = value * 1,value * 2,value * 3,value * 4
total = int(n1) + int(n2) + int(n3) + int(n4)
total

Enter the value: 9

11106

## Question:16
Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the following input is supplied to the program:
1,2,3,4,5,6,7,8,9
Then, the output should be:
1,3,5,7,9

In [84]:
def Oddnum():
    num=(input('Enter the number').split(','))
    num_list=[int(i) for i in num]
    list_com=[odd for odd in num_list if int(odd)%2!=0]
    print(list_com)
Oddnum()

Enter the number1,2,3,4,5,6,7
[1, 3, 5, 7]

## Question 17
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:

D 100

W 200

D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:

D 300

D 300

W 200

D 100

Then, the output should be:

500

In [92]:
def Bank():
    total=0
    n=input("Enter the transaction :").split(',')
    status=n[0]
    amount=int(n[1])
    if status=='D':
        total+=int(amount)
    if status=='W':
        total-=int(amount)
    print(total)
Bank()

Enter the transaction :D,300,D,300,W,200,D,100
300

## Question:19
You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
1: Sort based on name;

2: Then sort based on age;

3: Then sort by score.

The priority is that name > age > score.

In [94]:
lst = []
while True:
    s = input().split(',')
    if not s[0]:                          
        break
    lst.append(tuple(s))

lst.sort(key= lambda x:(x[0],int(x[1]),int(x[2])))
print(lst)

Tom,19,80,John,20,90,Jony,17,91,Jony,17,93,Json,21,85

[('Tom', '19', '80', 'John', '20', '90', 'Jony', '17', '91', 'Jony', '17', '93', 'Json', '21', '85')]

## Question 20
Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

In [99]:
class Generator():
    def divisible_by(self,n):
        for i in range(1,n+1):
            if i%7==0:
                yield i
G=Generator()
values=G.divisible_by(int(input()))
for generator in values:
    print(generator)

32
7
14
21
28

## Question 23
Write a method which can calculate square value of number

In [100]:
def Sqr_values(n):
    return n**2
n=int(input())
Sqr_values(n)

4

16

## Question 24

Python has many built-in functions, and if you do not know how to use it, you can read document online or find some books. But Python has a built-in document function for every built-in functions.

Please write a program to print some Python built-in functions documents, such as abs(), int(), raw_input()

And add document for your own function

In [103]:
x = abs(-1.25)
print(x)

1.25

In [105]:
i=int(-7.35)
print(i)

-7

In [107]:
# raw_input was used in python 2.O

## Question 25
Define a class, which have a class parameter and have a same instance parameter

In [122]:
class Demo():
    age=24
    def __init__(self,age=None):
        self.age=age
d=Demo(23)
print(Demo.age)
d.age

24

23

## Question:26
Define a function which can compute the sum of two numbers.

In [3]:
def Two_sum(a,b):
    return a+b
print(Two_sum(2,3))

5

## Question:27
Define a function that can convert a integer into a string and print it in console.

In [4]:
def Int_string(n):
    return str(n)
Int_string(8)

'8'

In [5]:
# Question no:28 is same like Question no:27

## Question no:29
Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.

In [7]:
def String_sum():
    a=input()
    b=input()
    return int(a)+int(b)
String_sum()

2
3

5

## Question no:30
Define a function that can accept two strings as input and concatenate them and then print it in console.

In [8]:
def String_con():
    a=input()
    b=input()
    return (a)+(b)
String_con()

2
3

'23'

## Question no: 31
Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.

In [10]:
def String_max():
    a=input()
    b=input()
    str1=len(a)
    str2=len(b)
    if str1>str2:
        print('first string :',a)
    if str1<str2:
        print('Second String :',b)
    else:
        print(a)
        print(b)
String_max()

one
three
Second String : three

## Question no:32
Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [18]:
def EvenOrOdd():
    n=int(input())
    if n%2==0:
        print("Even")
    else:
        print('Odd')
EvenOrOdd()

11
Odd

## Question no: 34
Define a function which can print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.

In [19]:
def Dict_Square():
    dict_1={}
    for i in range(1,21):
        dict_1[i]=i**2
    print(dict_1)
Dict_Square()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

## Question no:35
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.

In [22]:
def Dict_Square_key():
    dict_1={}
    for i in range(1,21):
        dict_1[i]=i**2
    print(dict_1.values())
Dict_Square_key()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400])

## Question no:36
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [21]:
def Dict_Square_key():
    dict_1={}
    for i in range(1,21):
        dict_1[i]=i**2
    print(dict_1.keys())
Dict_Square_key()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

## Question no:37
Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).

In [23]:
def Square_list():
    list_square=[]
    for i in range(1,21):
        list_square.append(i**2)
    print(list_square)
Square_list()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

## Question no:38
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the first 5 elements in the list.

In [25]:
def Square_list_slice():
    list_square=[]
    for i in range(1,21):
        list_square.append(i**2)
    print(list_square[0:5])
Square_list_slice()

[1, 4, 9, 16, 25]

## Question no: 39
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the last 5 elements in the list.

In [32]:
def Square_list_slice_last():
    list_square=[]
    for i in range(1,21):
        list_square.append(i**2)
    print(list_square[-5:])
Square_list_slice_last()

[256, 289, 324, 361, 400]

## Question no:40
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.

In [33]:
def Square_list_slice_first():
    list_square=[]
    for i in range(1,21):
        list_square.append(i**2)
    print(list_square[5:])
Square_list_slice_first()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

## Question no:41
Define a function which can generate and print a tuple where the value are square of numbers between 1 and 20 (both included).

In [35]:
def Square_tuple():
    list_square=[]
    for i in range(1,21):
        list_square.append(i**2)
    tuple_=tuple(list_square)
    print(tuple_)
Square_tuple()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

## Question no:42
With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [39]:
def Line_tuple():
    tuple_2=(1,2,3,4,5,6,7,8,9,10)
    print(tuple_2[:5])
    print(tuple_2[-5:])
    

Line_tuple()

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

## Question no:43
Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10).

In [41]:
def Even_tuple():
    tuple_2=(1,2,3,4,5,6,7,8,9,10)
    li=[]
    for i in range(10):
        if tuple_2[i]%2==0:
            li.append(tuple_2[i])
    tuple_3=tuple(li)
    print(tuple_3)
    
    

Even_tuple()

(2, 4, 6, 8, 10)

## Question no:44
Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No".

In [47]:
st='YEs'
if st=='Yes' or st=='yes' or st=='YES':
    print("Yes")
else:
    print('No')

No

## Question no:45
Write a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

In [61]:
my_list = [1,2,3,4,5,6,7,8,9,10] 
result =filter(lambda x: (x % 2 == 0), my_list)  
print(result)

<filter object at 0x00000262A014B3D0>