In [1]:
import pandas as pd

In [3]:
!pip install PyPDF2

Collecting PyPDF2
  Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
     ---------------------------------------- 0.0/232.6 kB ? eta -:--:--
     - -------------------------------------- 10.2/232.6 kB ? eta -:--:--
     - -------------------------------------- 10.2/232.6 kB ? eta -:--:--
     ---- -------------------------------- 30.7/232.6 kB 262.6 kB/s eta 0:00:01
     ----------- ------------------------- 71.7/232.6 kB 393.8 kB/s eta 0:00:01
     ----------------------- ------------ 153.6/232.6 kB 766.6 kB/s eta 0:00:01
     ------------------------------------ 232.6/232.6 kB 950.1 kB/s eta 0:00:00
Installing collected packages: PyPDF2
Successfully installed PyPDF2-3.0.1

In [21]:
from PyPDF2 import PdfReader
reader = PdfReader("meta.pdf")
content=[]
page = reader.pages[80]
txt=page.extract_text()
txt

'META PLATFORMS, INC. \nCONSOLIDATED STATEMENTS OF INCOME \n(In millions, except per share amounts)\nYear Ended December 31,  \n2021 2020 2019\nRevenue $ 117,929 $ 85,965 $ 70,697 \nCosts and expenses:\nCost of revenue 22,649 16,692 12,770 \nResearch and development 24,655 18,447 13,600 \nMarketing and sales 14,043 11,591 9,876 \nGeneral and administrative 9,829 6,564 10,465 \nTotal costs and expenses 71,176 53,294 46,711 \nIncome from operations 46,753 32,671 23,986 \nInterest and other income, net 531 509 826 \nIncome before provision for income taxes 47,284 33,180 24,812 \nProvision for income taxes 7,914 4,034 6,327 \nNet income $ 39,370 $ 29,146 $ 18,485 \nEarnings per share attributable to Class A and Class B common \nstockholders:\nBasic $ 13.99 $ 10.22 $ 6.48 \nDiluted $ 13.77 $ 10.09 $ 6.43 \nWeighted-average shares used to compute earnings per share \nattributable to Class A and Class B common stockholders:\nBasic 2,815 2,851 2,854 \nDiluted 2,859 2,888 2,876 \nShare-based compensation expense included in costs and expenses:\nCost of revenue $ 577 $ 447 $ 377 \nResearch and development 7,106 4,918 3,488 \nMarketing and sales 837 691 569 \nGeneral and administrative 644 480 402 \nTotal share-based compensation expense $ 9,164 $ 6,536 $ 4,836 \nSee Accompanying Notes to Consolidated Financial Statements.\n80'

In [31]:
from PyPDF2 import PdfReader

reader = PdfReader("meta.pdf")
content = []

# Extract text from the desired page
page = reader.pages[80]
txt = page.extract_text()

# Split the text into lines
lines = txt.split('\n')
lines[3:-2]

['Year Ended December 31,  ',
 '2021 2020 2019',
 'Revenue $ 117,929 $ 85,965 $ 70,697 ',
 'Costs and expenses:',
 'Cost of revenue 22,649 16,692 12,770 ',
 'Research and development 24,655 18,447 13,600 ',
 'Marketing and sales 14,043 11,591 9,876 ',
 'General and administrative 9,829 6,564 10,465 ',
 'Total costs and expenses 71,176 53,294 46,711 ',
 'Income from operations 46,753 32,671 23,986 ',
 'Interest and other income, net 531 509 826 ',
 'Income before provision for income taxes 47,284 33,180 24,812 ',
 'Provision for income taxes 7,914 4,034 6,327 ',
 'Net income $ 39,370 $ 29,146 $ 18,485 ',
 'Earnings per share attributable to Class A and Class B common ',
 'stockholders:',
 'Basic $ 13.99 $ 10.22 $ 6.48 ',
 'Diluted $ 13.77 $ 10.09 $ 6.43 ',
 'Weighted-average shares used to compute earnings per share ',
 'attributable to Class A and Class B common stockholders:',
 'Basic 2,815 2,851 2,854 ',
 'Diluted 2,859 2,888 2,876 ',
 'Share-based compensation expense included in costs and expenses:',
 'Cost of revenue $ 577 $ 447 $ 377 ',
 'Research and development 7,106 4,918 3,488 ',
 'Marketing and sales 837 691 569 ',
 'General and administrative 644 480 402 ',
 'Total share-based compensation expense $ 9,164 $ 6,536 $ 4,836 ']

In [40]:
from PyPDF2 import PdfReader

reader = PdfReader("meta.pdf")
content = []
page = reader.pages[79]
txt = page.extract_text()
lines = txt.split('\n')
data=lines[3:-2]
number_pattern = re.compile(r'\b\d[\d,.]*\b')
numeric_values = []
for line in data:
    line_numeric_values = [match.group().replace(',', '') for match in number_pattern.finditer(line)]
    numeric_values.extend(line_numeric_values)
numeric_values

['31',
 '2021',
 '2020',
 '16601',
 '17576',
 '31397',
 '44378',
 '14039',
 '11335',
 '4629',
 '2381',
 '66666',
 '75670',
 '6775',
 '6234',
 '57809',
 '45633',
 '12155',
 '9348',
 '634',
 '623',
 '19197',
 '19050',
 '2751',
 '2758',
 '165987',
 '159316',
 '4083',
 '1331',
 '1052',
 '1093',
 '1127',
 '1023',
 '14312',
 '11152',
 '561',
 '382',
 '21135',
 '14981',
 '12746',
 '9631',
 '7227',
 '6414',
 '41108',
 '31026',
 '0.000006',
 '5000',
 '2328',
 '2406',
 '31',
 '2021',
 '2020',
 '4141',
 '413',
 '443',
 '31',
 '2021',
 '2020',
 '55811',
 '50018',
 '693',
 '927',
 '69761',
 '77345',
 '124879',
 '128290',
 '165987',
 '159316']

In [55]:
import pandas as pd
from PyPDF2 import PdfReader

# Extract text from the desired page
reader = PdfReader("meta.pdf")
page = reader.pages[80]
txt = page.extract_text()

# Split the text into lines
lines = txt.split('\n')
lines_subset = lines[3:-2]

# Create lists to store data
data_text = []
data_numbers = []

# Iterate through lines and extract text and numbers
for line in lines_subset:
    # Split line into words
    words = line.split()
    
    # Extract text and numbers
    text = ' '.join(words[:-3])  # Combine first 4 words as text
    
    # Try to convert the last 3 words to float, skip if not possible
    try:
        numbers = [float(word.replace(',', '')) for word in words[-3:]]
    except ValueError:
        continue
    
    # Append to lists
    data_text.append(text)
    data_numbers.append(numbers)

# Create a DataFrame
df = pd.DataFrame({'Text': data_text, 'Number1': [num[0] for num in data_numbers],
                   'Number2': [num[1] for num in data_numbers],
                   'Number3': [num[2] for num in data_numbers]})

# Display the DataFrame
df

                                        Text  Number1  Number2  Number3
0                                              2021.0   2020.0   2019.0
1                            Cost of revenue  22649.0  16692.0  12770.0
2                   Research and development  24655.0  18447.0  13600.0
3                        Marketing and sales  14043.0  11591.0   9876.0
4                 General and administrative   9829.0   6564.0  10465.0
5                   Total costs and expenses  71176.0  53294.0  46711.0
6                     Income from operations  46753.0  32671.0  23986.0
7             Interest and other income, net    531.0    509.0    826.0
8   Income before provision for income taxes  47284.0  33180.0  24812.0
9                 Provision for income taxes   7914.0   4034.0   6327.0
10                                     Basic   2815.0   2851.0   2854.0
11                                   Diluted   2859.0   2888.0   2876.0
12                  Research and development   7106.0   4918.0   3488.0
13                       Marketing and sales    837.0    691.0    569.0
14                General and administrative    644.0    480.0    402.0